<!-- <app-tabla-botones></app-tabla-botones>
<app-grafico></app-grafico> -->
<header>
        <nav>
                <a routerLink="/inicio">Inicio</a>
                <a routerLink="/clientes">Clientes</a>
                <a routerLink="/sucursales">Nuestras Sucursales</a>
                <a routerLink="/tabla">Ventas</a>
                <a routerLink="/grafico">Grafico de ventas</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/registro">Registro</a>
        </nav>
</header>
<main>
        <router-outlet></router-outlet>
</main>